<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
</head>
<body>
<h2>单文件上传</h2>
<div>
    <form method="post" enctype="multipart/form-data" action="/uploads/singleupload">
        <p>
            文件1 <input type="file" name="file">
            <input type="submit" value="上传">
        </p>
    </form>
</div>
<h2>多文件上传</h2>
<div>
    <form method="post" enctype="multipart/form-data" action="/uploads/multipartupload">
        <p>
            文件1 <input type="file" name="file">

        </p>
        <p>
            文件2 <input type="file" name="file">
        </p>
        <p>
            <input type="submit" value="上传">
        </p>
    </form>
</div>
<h2>bash64文件上传</h2>
<div>
    <form method="post" enctype="multipart/form-data" action="/uploads/baseupload">
        <p>
            BASE64编码：<textarea name="base64" rows="10" cols="80"></textarea>
            <input type="submit" value="上传">
        </p>
    </form>
</div>
</body>
</html>